/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Cairo');

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

}
/*body{
  background: -webkit-linear-gradient(left, #f4d6de, #e0eff4) !important;
  background: linear-gradient(90deg, #f4d6de, #e0eff4) !important;
}*/

.newsfeed_block{
  background: #ffffff;
  border-radius: 5px;
}

.joya-header{
  position: relative;
  padding-left: 45px;
  white-space: nowrap;
}
.nav-links ul{
  list-style: none;
  padding-right: 0;
}
.nav-links{
  display: inline-block;
  float: right;
  line-height: 3;
  font-weight: bold;
}
.nav-links ul li{
  display: inline-block;
  padding-right: 15px;
  padding-top: 3px;
}
.nav-links ul li:nth-child(1){
  padding-right: 0;
}
.nav-links ul li a{
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}
.joya_author{
  margin-top: 2px;
    line-height: 0;
    max-width: 100%;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    word-wrap: normal!important;

}
.joya_avatar_container{
    width: 60px;
    height: 60px;
    top: 38px;
    left: 40px;
    border-radius: 50%;

    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: transparent;
    border-radius: 4px;

}
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
/* Main Styles */
/*body {
  background: -webkit-linear-gradient(left, #f4d6de, #e0eff4);
  background: linear-gradient(90deg, #f4d6de, #e0eff4);
}*/
body{
  background-image: url("../img/gplaypattern.png");
  background-color: #cccccc;
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}
.write-btn{
    background: #fe8e08;
    color: aliceblue;
    font-weight: bold !important;
}
.write-btn:hover{
  color: #ffffff; 
}
.joya-nav .navbar-default{
    background-color: #fd008d;
    border-color: #e7e7e7;
    border: 0;
    border-radius: 0;
}
.joya-nav .logo{
    display: inline;
    width: 68px;
    padding: 5px;
}
.joya-nav .navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    padding: 7px 15px;
    float: none;
}
.joya-nav .navbar-default .navbar-brand:hover{
  color: #ffffff;
}
.joya-nav .navbar-header {
    text-align: center;
    float: right;
    
}
.joya-btn , .joya-btn:hover{
    display: block;
    float: left;
    margin-top: 15px;
    color: #333;
    background-color: #fd008d;
    color: white;
    font-weight: bold;
    border-color: transparent;
}
.joya-btn[disabled]:hover{
    background-color: #fd008d;
    color: white;
}
.newsfeed-container{
  background-color: rgba(23, 71, 111, 0.03);
  padding: 25px 0;
}
.newsfeed{
  margin:auto;
}
.newsfeed-block {
    position: relative;
    min-height: 199px;
    background-color: white;
    padding: 24px;
    border-radius: 15px;
    margin-top: 25px;
    -webkit-box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.75);
}
.author-container{
  
}
.author-container .auth-avatar{
  width: 60px;
  height: 60px;
  float: left;
  position: absolute;
  border-radius: 50%;
}
.auth-avatar .img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.auth-name{
  padding-right: 72px;
  padding-top: 3px;
}
.auth-name a{
  font-size: 19px;
    margin-bottom: 9px;
    display: block;
    text-decoration: none;
}
.newsfeed-block .content{
    padding-right: 72px;
    margin-top: 25px;
    line-height: 2;
    font-size: 18px;
    color: #4a4949;
}
.time{
  color: #b3adad;
  font-size: 11px;
  font-weight: bold;
}
.joya-actions {
    min-width: 47px;
    max-width: 48px;
    position: absolute;
    top: 50%;
}
.like {
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    margin: auto;
    display: block;
    color: #b5afaf;
}
.like:hover , .like:active , .like:focus {
  color: #fd008d;
}
.counter{
  display: block;
  text-align: center;
  font-size: 15px;
  color: #b5afaf;
}
/*********Footer*******/
.footer{
  background-color: rgba(16, 16, 16, 0.55);
  color: #ffffff;
  padding: 25px;
  font-weight: bold;
}
/********POP UP STYLE********/
.joya-container .popup-header{
    background: #fd008d;
    padding: 9px;
    border-bottom: 1px solid #fd008d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.popup-logo{
    width: 48px;
    background: #fd008d;
    border: 2px solid white;
    height: 45px;
    padding: 9px 6px;
    border-radius: 50%;
    position: absolute;
    top: -13px;
    left: 0;
    right: 0;
    margin: auto;
}
.define-name span{
    vertical-align: text-top;
    padding-right: 5px;
    color: #fd008d;
}
.popup-logo .pop-logo{
  width: 100%;
}
.post-joya , .edit-joya{
  background-color: #ffffff;
  color: #fd008d;
  border: 1px solid #fd008d;
  float: left;
  padding: 6px 40px;

}
.joya_popup_text{
  line-height: 1.8;
}
/*****************PROGRESS******************/
.progress-bg {
  margin: 15px auto;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  -moz-box-shadow:    inset 0 0 10px #ccc;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  box-shadow:         inset 0 0 10px #ccc;
}

.progress-bar {
  height: 30px;
  border-radius: 10px;
  float: left;
  width: 50%;
  /* fallback */ 
  background-color: #fd008d; 
  
  /* Safari 4-5, Chrome 1-9 */ 
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c314a), to(#27425f)); 
  
  /* Safari 5.1, Chrome 10+ */ 
  background: -webkit-linear-gradient(top,  #fb31a1, #fd008d); 
  
  /* Firefox 3.6+ */ 
  background: -moz-linear-gradient(top,  #fb31a1, #fd008d); 
  
  /* IE 10 */ 
  background: -ms-linear-gradient(top,  #fb31a1, #fd008d); 
  
  /* Opera 11.10+ */ 
  background: -o-linear-gradient(top,  #fb31a1, #fd008d);  
}

.progress-bg p.goal, .progress-bg p.raised {
  font-family: Arial,sans-serif;
  font-weight: 600;
  line-height: 2.7;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
}


.progress-bg p.raised {
  color: #fff;
  /*margin: 14px 25px 0 50px;
  padding: 0 25px 0 0;*/
}

.progress-bg p.goal {
  color: #b2b2b2;
  text-align: center;
}

body .progress-bg p.raised {
    -webkit-animation: fadein 4s; /* Safari and Chrome */
       -moz-animation: fadein 4s; /* Firefox */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

.progress-bg p.goal {
  float: right;
  display: inline;
  padding: 0 25px 0 0;
  text-align: center;
}

body .progress-bg div {
  -webkit-animation: progress-bar 2s ease forwards;
  -moz-animation: progress-bar 2s ease forwards;
  -o-animation: progress-bar 2s ease forwards;
  animation: progress-bar 2s ease forwards;
}
.jscoreMsg{
  text-align: center;
  color: #474747;
  font-weight: bold;
}

.loading{
  margin: auto;
  text-align: center;
}
.loading2{
  margin: auto;
  text-align: center;
  position: fixed;
  top: 50vh;
  right: 0px;
  left: 0;
  z-index: 100;
}
.pag_loading{
  margin: auto;
  text-align: center;
}
@media (min-width: 769px){
  .newsfeed {
    width: 77%;
  }
}
@media only screen and (max-width: 768px) {
  .newsfeed {
      width: 70%;
  }
  .newsfeed-block{
    border-radius: 0;
  }
  .newsfeed-block .content{
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px){
  .newsfeed {
      width: 100%;
  }
  .newsfeed-block{
    border-radius: 0;
  }
  .newsfeed-block .content{
    font-size: 16px;
  }
  .footer{
    text-align: center;
  }
}

#type-joya {
    font-size: 120%
}
@media only screen and (min-width: 1025px){
  .joya-nav .navbar-header{
    padding-right: 29px;
  }
}